/* Estilos para o modal */
.modal {
    display: none; /* Oculta o modal por padrão */
    position: fixed; /* Fica fixo na tela */
    z-index: 1000; /* Coloca o modal acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Permite rolagem se necessário */
    background-color: rgba(0,0,0,0.4); /* Fundo com opacidade */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centraliza o modal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
    border-radius: 5px; /* Bordas arredondadas */
}

.close {
    color: #aaa; /* Cor do botão de fechar */
    float: right; /* Alinha à direita */
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black; /* Muda a cor ao passar o mouse */
    text-decoration: none;
    cursor: pointer; /* Cursor pointer ao passar o mouse */
}